@*@model TuiXach.ViewModel.RegisterViewModel

    @{
        ViewBag.Title = "Register";
        Layout = "~/Views/_LayoutPage1.cshtml";
    }

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "w3l-login-form" }))
    {
        <h2>ĐĂNG KÝ</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="w3l-form-group">
            <label style="font-weight: bold">Email:</label>
            <div class="group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Nhập vào Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="w3l-form-group">
            <label style="font-weight: bold">Username:</label>
            <div class="group">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Nhập vào Username" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="w3l-form-group">
            <label style="font-weight: bold">Password:</label>
            <div class="group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Nhập vào Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <button type="submit" style="margin-top: 20px">Đăng ký</button>
        <p class="w3l-register-p">Bạn đã có tài khoản?<a href="@Url.Action("Login", "Account")" class="register"> Đăng nhập</a></p>
    }*@


@*@model TuiXach.ViewModel.RegisterViewModel

    @{
        ViewBag.Title = "Register";
        Layout = "~/Views/_LayoutPage1.cshtml";
    }

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "w3l-login-form" }))
    {
        <h2>ĐĂNG KÝ</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="w3l-form-group">
            <label style="font-weight: bold">Email:</label>
            <div class="group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="w3l-form-group">
            <label style="font-weight: bold">Username:</label>
            <div class="group">

                @Html.TextBoxFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="w3l-form-group">
            <label style="font-weight: bold">Password:</label>
            <div class="group">
                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <button type="submit" style="margin-top: 20px">Đăng ký</button>
        <p class="w3l-register-p">Bạn đã có tài khoản?<a href="@Url.Action("Login", "Account")" class="register"> Đăng nhập</a></p>
    }*@

@model TuiXach.ViewModel.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<style>
    .form-control {
        width: 100%;
        border: none;
        box-sizing: border-box;
        background: transparent;
        color: #000;
        padding: 0px;
    }

    .text-danger {
        color: #dc3545; /* Màu đỏ của Bootstrap cho lỗi */
        font-weight: bold; /* Chữ đậm để nổi bật hơn */
        font-size: 0.875rem; /* Kích thước chữ nhỏ hơn để đồng nhất */
        margin-top: 0.25rem; /* Khoảng cách phía trên */
        margin-bottom: 0; /* Xóa khoảng cách phía dưới */
    }
</style>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "w3l-login-form" }))
{
    <h2>ĐĂNG KÝ</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="w3l-form-group">
        <label style="font-weight: bold">Email:</label>
        <div class="group">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger"})
    </div>

    <div class="w3l-form-group">
        <label style="font-weight: bold">Username:</label>
        <div class="group">
            <i class="bi bi-user"></i>
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        </div>
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    </div>

    <div class="w3l-form-group">
        <label style="font-weight: bold">Password:</label>
        <div class="group">
            @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        </div>
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>

        <button type="submit" style="margin-top: 20px">Đăng ký</button>
        <p class="w3l-register-p">Bạn đã có tài khoản?<a href="@Url.Action("Login", "Account")" class="register"> Đăng nhập</a></p>
}
